* {
    margin: 0px;
    padding: 0px;
    font-family: 'sansation', sans-serif;
    font-size: 16px;
    color: white;
    transition: all;
    transition-duration: 500ms;
}
.flex_row_center_spaceBetween {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.flex_column_center_spaceBetween {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
a {
    text-decoration: none;
    color: white;
}
.background {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./Images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hidden {
    visibility: hidden;
}
.container {
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    box-sizing: border-box;
    margin: 0px auto;
}
.content_row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
.content_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.teamMember {
    width: 250px;
    height: 290px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.teamMember p {
    font-size: 18px;
}
.teamMember h2 {
    font-size: 24px;
}
.teamMember img {
    width: 100px;
    height: 100px;
}

/*individual styling*/

#navBar {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(90deg, rgba(159, 99, 160, 1), rgba(80, 73, 148, 1));
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#logoContainer {
    width: 267px;
    height: 84px;
}
#logoImg {
    width: 60px;
    height: 84px;
}
#logoTxt {
    width: 193px;
    font-family: 'audiowide', monospace;
    font-size: 28px;
    color: white;
}
#navLinks a {
    font-size: 16px;
    font-weight: bold;
}
nav {
    width: 1140px;
    margin: 0px auto;
}
#navLinks {
    width: 315px;
    height: 20px;
}

#socialSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 55px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    transition: all;
    transition-duration: 1s;
}
.socialIcon {
    width: 42px;
    height: 42px;
    transition: all;
    transition-duration: 200ms;
}
.socialIcon:hover {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#navSearch {
    width: 364px;
    height: 40px;
    position: relative;
}  
#navSearch input {
    width: 364px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
    color: black;
}
#searchBtns {
    position: absolute;
    right: 15px;
    top: 11px;
    width: 116px;
}
button {
    background-color: rgba(159, 99, 160, 1);
    border-radius: 15px;
    border: none;
}
button:hover {
    background-image: linear-gradient(90deg, rgba(159, 99, 160, 1), rgba(80, 73, 148, 1));
}
#searchBtn, #clearBtn {
    padding: 0px 7px;
    font-size: 13px;
    height: 18px;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}
footer h4 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 220px;
    border-radius: 25px;
    padding: 5px;
}
#homeTitle {
    font-size: 64px;
    width: 655px;
}
#homeArticle {
    font-size: 16px;
    width: 558px;
    text-align: justify;
}
#homeArticle span {
    font-size: 18px;
    font-family: 'audiowide', monospace;
    font-weight: 500;
}
#bookingBtn {
    width: 170px;
    height: 50px;
    font-size: 18px;
}
#homeContent {
    width: 655px;
    height: 415px;
}